
<div class="head">

    <div id="logo">
    <h2 id="title">mywebsite.com</h2>
    </div>

    <div id="navbar">
    <ul>
    <li></li><a href="/">Home</a></li>
    <li><a href="/login">Members</a></li>
    </ul>
    </div>

</div>