
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleapp.css">
    <title>Login Page</title>
    
</head>
<body>
 <div id ="bimage">
<div id="container">
<div id="heading">
    <%- include('../partials/header') %>
</div>
<div id="main">
<h1>Members Only!</h1>

<h2>Login</h2>
<form action="/login" method="POST">
<input type="text" name="username"> <br><br>
<input type="text" name="password"> <br><br>
<button type="submit">submit</button>
</form>

<h4>Not a member?</h4>
        <a href="/">Sign Up</a>
 </div>
 <div>
    <%- include('../partials/footer') %>
</div>
</div>
</div>
</body>
</html>


   
    
    
     
    

    